table {
    border-collapse: collapse;
    border: 3px solid blue;
    width: 100%;
}

th {
    background-color: #888888;
    color: #ffffff;
    border: 1px solid #888888;
    padding: 5px;
}

td {
    padding: 5px;
    border: 3px solid blue;
}
td:last-child, td:nth-last-child(2) {
    text-align: center;
}

